.react-calendar {
  width: 90%;

  margin: auto;
  border: none;
  font-family: system-ui, sans-serif;
}

/* Header*/
.react-calendar__navigation {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}

.react-calendar__navigation__label {
  font-weight: 600;
  text-transform: uppercase;
  color: var(--font-color);
  font-size: 14px;
}

/* Days of Week*/
.react-calendar__month-view__weekdays {
  text-transform: uppercase;
  font-size: 11px;
  color: #999;
}

/*(L-V) */
.react-calendar__month-view__weekdays,
.react-calendar__month-view__days {
  display: grid !important;
  grid-template-columns: repeat(6, 1fr);
  gap: 4px;
}

/* (S-D)*/
.react-calendar__month-view__weekdays__weekday:nth-child(1) {
  display: none;
}

.react-calendar__month-view__days__day:nth-child(7n + 1) {
  display: none;
}
/*Arrows Month*/
.react-calendar__navigation__arrow {
  height: 20px;
  width: 20px;
}
.react-calendar__navigation__arrow:hover {
  cursor: pointer;
}

/* Tiles */
.react-calendar__tile {
  height: 12vh;
  border-radius: 10px;
  font-size: 13px;
  transition: all 0.2s ease;
}
/* Active Day*/
.react-calendar__tile--active {
  background: var(--font-color);
  color: white;
}
.react-calendar__tile:hover {
  cursor: pointer;
  background: #7d5ba6;
}

/* Días bloqueados */
.react-calendar__tile:disabled {
  background: transparent;
  color: #ccc;
  cursor: not-allowed;
  text-decoration: line-through;
}

/* ============================= */
/* RESPONSIVE */
/* ============================= */

/* 📱 Móvil pequeño */
@media (max-width: 400px) {
  .react-calendar {
    max-width: 100%;
  }

  .react-calendar__tile {
    font-size: 30px;
  }
}

/* 📲 Tablet */
@media (min-width: 600px) {
  .react-calendar__month-view__weekdays__weekday {
    font-size: 15px;
  }
  .react-calendar__navigation__label__labelText {
    font-size: 20px;
  }
  .react-calendar__tile {
    font-size: 40px;
  }
}

/* 💻 Desktop */
@media (min-width: 900px) {
  .react-calendar__month-view__weekdays__weekday {
    font-size: 15px;
  }
  .react-calendar__navigation__label__labelText {
    font-size: 20px;
  }
  .react-calendar__tile {
    font-size: 50px;
  }
}

/* 🖥 Pantallas grandes */
@media (min-width: 1200px) {
  .react-calendar__month-view__weekdays__weekday {
    font-size: 15px;
  }
  .react-calendar__navigation__label__labelText {
    font-size: 20px;
  }
  .react-calendar__tile {
    aspect-ratio: 2 / 1;
    font-size: 50px;
  }
}
